.block1 {
    float: right;
    display: block;
    width: 300px;
    border: 1px solid #c7b5b5;
    margin: 2px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.pages {
    display: flex;
    justify-content: center;
}

.pages a {
    margin: 0 5px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 15px;
}

.table tbody td {
    vertical-align: middle;
}

.btn-increase, .btn-decrease {
    box-shadow: none;
    font-size: 25px;
}